/* Reset geral */
* {
  margin: 0;
  padding: 0;
}

/* Configurações globais */
:root {
  font-family: "Open Sans", sans-serif;
  background: #F5F4F0;
}

/* Estrutura */
#page {
  margin: 88px 80px 137px;
  max-width: 1120px;
}

.top {
  max-height: 79px;
  width: 1120px;
}

/* Títulos */
h1 {
  font-size: 36px;
  padding-bottom: 40px;
}

h2 {
  margin-bottom: 8px;
}

h2[data-txt="UP-Text"],
h2[data-txt="Color-Text"] {
  font-size: 16px;
  text-transform: uppercase;
  color: #E1624F;
}

h2[data-txt="Color-Text"] {
  margin-top: 64px;
  margin-bottom: 2px;
}

/* Listas */
ul, ol {
  padding-left: 0;
  list-style-position: inside;
}

ul {
  font-size: 16px;
  font-weight: bold;
}

section li {
  color: #1B1B1B;
}

li[data-h2="h2"] {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 4px;
}

/* Imagens */
img {
  max-width: 1120px;
  margin: 48px 0 20px;
  border-radius: 16px;
}

p img {
  vertical-align: middle;
}

/* Texto e descrições */
p {
  text-align: left;
}

.descritivo {
  margin-bottom: 64px;
}

/* Centralizações */
.final,
.text-footer,
footer p,
.AI_Principal {
  text-align: center;
  max-width: 1280px;
}

/* Textos específicos */
.text-footer {
  font-size: 16px;
}

.AI_Principal {
  font-style: italic;
  padding-bottom: 40px;
}

/* Linhas e espaçamentos */
.last_hr {
  margin: 40px 0;
}

.nova_imagem {
  margin-top: 0;
}

.descritivo-p {
  margin-bottom: 28px;;
}

.footer_p {
  max-width: 1280px;
}